:root {
  --dark-blue: rgb(23,29,37);
  --light-grey: rgb(220,222,187);
  --bright-blue: rgb(26,159,255);
  --medium-grey: rgb(84, 90, 98);
  --dark-medium-grey: rgb(70, 89, 96);
  --button-light-blue: rgb(41, 68, 92);
}
* {
  margin: 0;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: rgb(27,40,56);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
