.NavBar {
    padding: 10px;
    background-color: var(--dark-blue);
    margin: 0;
    border: solid --light-grey 1px;
    position: fixed;
    width: 100%;
}
.NavBar div {
    display: flex;
}
.text-button button {
    font-size: 17px;
    font-weight: 600;
    margin: 6px 12px;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    border: none;
    padding: 10px 0;
}
.text-button button:hover {
    color: white;
}
#link-copy {
    color: var(--medium-grey);
    font-size: 12px;
    display: flex;
    padding: 3px 15px;
    background-color: var(--dark-blue);
    border: none;
}
#link-copy:hover {
    background-color: rgb(35,38,46);
    color: var(--light-grey);
    border-radius: 20px;
}
#selected button {
    color: var(--bright-blue);
    border-bottom: solid var(--bright-blue) 3px;
}
.drop-down{
    margin-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.drop-down a {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    background-color: var(--medium-grey);
    color: var(--light-grey);
}
.drop-down a:hover {
    background-color: var(--light-grey);
    color: var(--medium-grey);
}